<!DOCTYPE html>
<html lang="en">
<head>
  <title>List of Donors</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

   <h2>List of Donors</h2>
  <!-- <p>The .table-striped class adds zebra-stripes to a table:</p> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Age</th>
        <th>Blood Type</th>
          <th>Last donation</th>
        <th>Hemaglobin</th>
      </tr>
    </thead>
    <tbody>
        {% for each_detail in list_donor %}
    <tr>
        <form action="donation_accept" method="post">
        <td>{{each_detail.name}}</td>
        <td>{{each_detail.age}}</td>
        <td>{{each_detail.blood_type}}</td>
        <td>{{each_detail.last_donation}}</td>
        <td>{{each_detail.haemo}}</td>

        </form>
        </tr>
        {% endfor %}
      </tbody>
  </table>

    <center>
        <form action="send_alert" method="post">
            <input type="submit" class="btn btn-danger" value="Send Alert">
            <input type="hidden" value="donar_name" name="name">
            <input type="hidden" class="btn btn-primary" value="{{userid_bloodbank}}" name="userid_bloodbank"/>
        </form>
    </center>

    <table class="table table-striped">
        <thead>
        <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>No of Units required</th>
        <th>Blood Bank</th>
        </tr>
        </thead>
        <tbody>
        {% for each_detail in donor_requests %}
        <tr>
        <form action="donation_accept" method="post">
        <td>{{each_detail.userid}}</td>
        <td>{{each_detail.name}}</td>
        <td>{{each_detail.request_units}}</td>
        <td>{{each_detail.blood_bank}}</td>
        </form>

            <form action="donation_accept" method="post">
                <td>
            <input type="submit" value="Yes">
            <input type="hidden" class="btn btn-primary" value="{{each_detail.userid}}" name="userid">
             </td>
            </form>

        </tr>

        {% endfor %}
       </tbody>
    </table>
    </div>
</body>
</html>