<!DOCTYPE html>
<html lang="en">
<head>
  <title>List of Donors</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

   <h2>List of Donors</h2>
  <!-- <p>The .table-striped class adds zebra-stripes to a table:</p> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>BloodGroup</th>
      </tr>
    </thead>
    <tbody>
        {% for each_detail in list_donor %}
    <tr>
        <td>{{each_detail.name}}</td>
        <td>{{each_detail.age}}</td>
        <td>{{each_detail.blood_type}}</td>
        <td>{{each_detail.last_donation}}</td>
        <td>{{each_detail.haemo}}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  </div>

</body>
</html>